.red {
  color: red;
}

.bg-dark {
  background-color: slategray;
  color: whitesmoke;
}

.bordered-box {
  border: 1px solid black;
  border-radius: 1rem;
}

.box {
  border: 1px solid black;
  height: 70px;
  width: 100%;
}

.m-70 {
  border: 1px solid black;
  margin: 70px;
}

.p-50 {
  border: 1px solid black;
  padding: 50px;
}

.center {
  text-align: center;
}

.underline {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.spacing {
  letter-spacing: 0.1em;
  word-spacing: 0.2em;
}

.indent {
  text-indent: 2em;
}

.roboto-font {
  font-family: 'Roboto', sans-serif;
}

.stylized {
  font-weight: bold;
  font-size: small;
  font-style: italic;
}

.btn-icon {
  padding: 0.25rem;
  border: none;
  border-radius: 50%;
  background-color: lightgray;
  color: white;
  cursor: pointer;
}

.square {
  width: 5rem;
  height: 5rem;
  background-color: lightgray;
  border: 1px solid black;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  gap: 1rem;
  border: 1px solid black;
  padding: 0.25rem;
}

.flex-col {
  flex-direction: column;
}

.justify-content {
  justify-content: center;
}

.align-items {
  align-items: center;
}

.flex-4 {
  flex: 4;
}

.flex-2 {
  flex: 2;
}

.flex-1 {
  flex: 1;
}

